<% include head %>
<div class="container">
<table class="table table-striped">
<thead>
  <tr>
    <th><a href="/ai/list?username=<%= username %>&amp;sort=+user">User</a> (<a href="/ai/list?username=<%= username %>&amp;sort=+user%20-idOfUser">Submit</a>)</th>
    <th>AI Name</th>
    <th>Status</th>
    <th><a href="/ai/list?username=<%= username %>&amp;sort=-rating">Rating</a></th>
    <th><a href="/ai/list?username=<%= username %>&amp;sort=-win">Win</a></th>
    <th><a href="/ai/list?username=<%= username %>&amp;sort=-draw">Draw</a></th>
    <th><a href="/ai/list?username=<%= username %>&amp;sort=-lose">Lose</a></th>
    <th><a href="/ai/list?username=<%= username %>&amp;sort=-ratio">Ratio</a></th>
    <th><a href="/ai/list?username=<%= username %>&amp;sort=-uploadDate">Upload Date</a></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% for (var i = 0; i < list.length; ++i) { var ai = list[i]; %>
  <tr>
    <td><%= ai.user %> (<%= ai.idOfUser %>)</td>
    <td><%= ai.name %></td>
    <% if (ai.status === 'Unavailable')  { %>
      <td class="table-danger"><%= ai.status %></td>
    <% } else if (ai.status === 'Available') { %>
      <td class="table-success"><%= ai.status %></td>
    <% } else { %>
      <td class="table-info"><%= ai.status %></td>
    <% } %>
    <td><%= ai.rating %></td>
    <td class="table-success"><%= ai.win %></td>
    <td class="table-warning"><%= ai.draw %></td	>
    <td class="table-danger"><%= ai.lose %></td>
    <td><%= Number(ai.ratio*100).toFixed(1) %>%</td>
    <td><%=: ai.uploadDate | formatDate %></td>
    <td><a href="/ai/<%= ai._id %>">(Detail)</a></td>
  </tr>
<% } %>
</tbody>
</table>
<nav>
  <% if (page === 1) { %>
    <a class="disabled pull-xs-left" href="#">Previous</a>
  <% } else { %>
    <a class="pull-xs-left" href="/ai/list?page=<%= page-1 %>&amp;sort=<%= sort %>">Previous</a>
  <% } %>


  <% if (page === totpage) { %>
    <a class="disabled pull-xs-right" href="#">Next</a>
  <% } else { %>
    <a class="pull-xs-right" href="/ai/list?page=<%= page+1 %>&amp;sort=<%= sort %>">Next</a>
  <% } %>
</nav>
</div>
<% include foot_script %>
<% if (showRatingChart) { %>
<script src="<%= settings.staticCDN %>/js/d3.min.js"></script>
<script src="<%= settings.staticCDN %>/js/c3.min.js"></script>
<script src="<%= settings.staticCDN %>/js/rating.js?20141217"></script>
<script>ratingChart.setup("/user/<%= username %>/rating.json")</script>
<% } %>
<% include foot_close %>