<% include head %>
<div class="container p-t-0">
<div class="row container">
<div class="alert alert-primary col-sm-5" role="alert">
  <p>AI Name</p>
  <h4 class="alert-heading"><%= ai.name %></h4>
</div>
<div class="col-sm-2">

</div>
<div class="alert alert-primary col-sm-5" role="alert">
  <p>AI Owner</p>
  <h4 class="alert-heading"><%= ai.user %></h4>
</div>
</div>

<div class="row container">
<div class="alert alert-success col-sm-5" role="alert">
  <p>Submitted Data</p>
  <h4 class="alert-heading"><%=: ai.uploadDate | formatDate %></h4>
</div>
<div class="col-sm-2">
</div>
<div class="alert alert-success col-sm-5" role="alert">
  <p>Status</p>
  <h4 class="alert-heading"><%= ai.status %></h4>
</div>
</div>

<div class="row container">
<div class="alert alert-success col-sm-5" role="alert">
  <p>Win</p>
  <h4 class="alert-heading"><%=: ai.win %></h4>
</div>
<div class="col-sm-2">
</div>
<div class="alert alert-success col-sm-5" role="alert">
  <p>Draw</p>
  <h4 class="alert-heading"><%= ai.draw %></h4>
</div>
</div>

<div class="row container">
<div class="alert alert-success col-sm-5" role="alert">
  <p>Lose</p>
  <h4 class="alert-heading"><%=: ai.lose %></h4>
</div>
<div class="col-sm-2">
</div>
<div class="alert alert-success col-sm-5" role="alert">
  <p>Rating</p>
  <h4 class="alert-heading"><%= ai.rating %></h4>
</div>
</div>


<% if (ai.user === user.name || settings.adminUsernames.indexOf(user.name) > -1) { %>
  <% if (ai.buildInfo) { %>
  <div class="row container">
<div class="alert alert-success" role="alert">
  <p>Build Information</p>
  <pre class="alert-heading"><%= ai.buildInfo %></pre>
</div>
</div>
  <% } %>


  <div class="row container">
  <div class="alert alert-success" role="alert">
  <p>Source Code</p>
  <pre class="source-code prettyprint lang-cpp"><%= ai.sourceCode %></pre>
  </div>
  </div
<% } %>




<% if (user.isLogin && ai.status === 'Available') { %>
<!-- Button trigger modal -->
<div class="p-t-2">
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#give-battle">Start a battle!</button>
</div>

<!-- Modal -->
<div class="modal fade" id="give-battle" tabindex="-1" role="dialog" aria-labelledby="give-battle-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
	  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
        <h4 class="modal-title" id="give-battle-label">Start a battle</h4>
      </div>

      <form role="form" action="/battle/start" method="post">
      <input type="hidden" value="<%= ai._id %>" name="ai1">
      <div class="modal-body">
	  <div class="form-group">
	    	<select class="form-control" name="ai0">
         	<option selected>Choose One of Your AI</option>
                <% for (var i = 0; i < myAI.length; ++i) { %>
                  <option value="<%= myAI[i]._id %>">(Submit <%= myAI[i].idOfUser %>) <%= myAI[i].name %></option>
                <% } %>
                </select>
	  </div>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Start">
      </div>
      </form>

    </div>
  </div>
</div>
<% } else { %>
<div><button class="btn btn-warning btn-lg disabled" disabled>Start a Battle!</button>
<% } %>

<% include foot_script %>
<script src="<%= settings.staticCDN %>/js/d3.min.js"></script>
<script src="<%= settings.staticCDN %>/js/c3.min.js"></script>
<script src="<%= settings.staticCDN %>/js/rating.js?20141217"></script>
<script src="<%= settings.staticCDN %>/google-code-prettify/prettify.js"></script>
<script>
ratingChart.setup("<%= ai._id %>/rating.json");
prettyPrint();
</script>
</div>
<% include foot_close %>