<% include head %>

<div class="container">
<table class="table table-striped">
<thead>
  <tr>
    <th><a href="/user/list?sort=+name">Name</a></th>
    <th><a href="/user/list?sort=-rating">Rating</a></th>
    <th><a href="/user/list?sort=-submit">Submit</th>
    <th><a href="/user/list?sort=-win">Win</a></th>
    <th><a href="/user/list?sort=-draw">Draw</a></th>
    <th><a href="/user/list?sort=-lose">Lose</a></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% for (var i = 0; i < list.length; ++i) { var u = list[i]; %>
  <tr>
    <td><%= u.name %></td>
    <td><%= u.rating %></td>
    <td><%= u.submit %></td>
    <td class="table-success"><%= u.win %></td>
    <td class="table-warning"><%= u.draw %></td>
    <td class="table-danger"><%= u.lose %></td>
    <td><a href="/ai/list?chart=true&amp;username=<%= u.name %>">(Detail)</a></td>
  </tr>
<% } %>
</tbody>
</table>
<nav>
  <% if (page === 1) { %>
    <a class="disabled pull-xs-left" href="#">Previous</a>
  <% } else { %>
    <a class="pull-xs-left" href="/user/list?page=<%= page-1 %>&amp;sort=<%= sort %>">Previous</a>
  <% } %>


  <% if (page === totpage) { %>
    <a class="disabled pull-xs-right" href="#">Next</a>
  <% } else { %>
    <a class="pull-xs-right" href="/user/list?page=<%= page+1 %>&amp;sort=<%= sort %>">Next</a>
  <% } %>
</nav>
</div>
<% include foot %>